{% extends "layout.html" %}

{% block title %}
My Lists
{% endblock %}

{% block main %}
    {% for list in lists %}
        <span>{{list["name"]}}</span>
        <form action="{{ url_for('lists') }}" method="post">
            <fieldset>
                <input name="rename_list" type="hidden" value="{{list['name']}}">
                <input name="list_location" type="hidden" value="{{loop.index0}}">
                <input name="new_name" placeholder="New Name" type="text">
                <button type="submit">Rename List</button>
            </fieldset>
        </form>
        <form action="{{ url_for('lists') }}" method="post">
            <fieldset>
                <input name="delete_list" type="hidden" value="{{list['name']}}">
                <button type="submit">Delete List</button>
            </fieldset>
        </form>
        <ul>
        {% for item in list.get("items") %}
            <li>{{item["name"]}}
                <form action="{{ url_for('lists') }}" method="post">
                <fieldset>
                    <input name="delete_item" type="hidden" value="{{item['name']}}">
                    <input name="item_location" type="hidden" value="{{loop.index0}}">
                    <input name="list_name" type="hidden" value="{{list['name']}}">
                    <button type="submit">Delete Item</button>
                </fieldset>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any lists yet! Try making one below.</p>
    {% endfor %}
    <form action="{{ url_for('lists') }}" method="post">
        <fieldset>
            <input name="new_list_name" placeholder="Name" type="text">
            <button type="submit">Create new list</button>
        </fieldset>
    </form>
{% endblock %}