{% extends "layout.html" %}

{% block title %}
My Lists
{% endblock %}

{% block main %}
    
    {% for list in lists %}
        <p>List: {{list["name"]}}</p>
        <ul>
        {%for item in list.get("items") %}
        <li>{{item["name"]}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <form action="{{ url_for('lists') }}" method="post">
    <fieldset>
        <input name="new_list_name" placeholder="Name" type="text">
        <button type="submit">Create new list</button>
    </fieldset>
</form>
{% endblock %}